node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Android build
android/.gradle/
android/build/
android/app/build/
android/app/debug.keystore
.android/

# iOS build
ios/

# Environment
.env
.env.local
.env.production

# Metro
metro-cache/

# TypeScript
*.tsbuildinfo
